<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- Сhange ProductCode for creating major upgrade! -->
	<?if $(var.Configuration)=2020 ?>
	<?define ProductCode = "{F9059F68-ADCD-4649-8C8C-BE46918A3052}"?>
	<?endif?>
	<?if $(var.Configuration)=2021 ?>
	<?define ProductCode = "{684F1781-B3CC-4D31-A99F-ED5DE2C294ED}"?>
	<?endif?>
	<?if $(var.Configuration)=2022 ?>
	<?define ProductCode = "{4D1ACE12-CF2E-4ACB-9303-3F5461A93D86}"?>
	<?endif?>
	<?if $(var.Configuration)=2023 ?>
	<?define ProductCode = "{57FCA357-81BA-412A-8989-D5D2872B2565}"?>
	<?endif?>

	<!-- Do not change! Must be the same in all versions -->
	<?define UpgradeCode = "{0D81F7E6-1F3E-49A6-B903-7CA1D17AE917}"?>

	<!-- Some info -->
	<?define Company = "Company Name"?>
	<?define Description = "Revit Addin"?>
	<?define Keywords = "revit, addin, plugin"?>
	<?define Comments = "Developed in 2024 to make work easy"?>
	
	<Product Id="{7FE54430-6609-4B19-AEF9-C1CA123EF251}"
			 Name="ManageInfo Setup 2022" 
			 Language="1033" 
			 Version="1.0.0.0" 
			 Manufacturer="Company" 
			 UpgradeCode="69311986-e35a-4041-9de0-60e5ca2c285e">

		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Manufacturer="$(var.Company)"
				 Description="Manage and Update Revit Information"
				 Keywords="$(var.Keywords)"
				 Comments="$(var.Comments)"
				 />

		<MajorUpgrade
			Schedule="afterInstallInitialize"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<!-- Included files inside of the installer -->
		<MediaTemplate
			EmbedCab="yes"
			/>
		
		<Feature Id="ProductFeature" 
				 Title="ManageInfo Setup" 
				 Level="1">
			<ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Product>
</Wix>
